@import "~bootstrap/scss/bootstrap.scss";
@import "./partials/generic/variables.scss";
@import "./partials/generic/mixins.scss";
@import "./partials/pages/header.scss";
@import "./partials/pages/footer.scss";
@import "./partials/pages/home-main.scss";

body {
    background-color: #131313;
    color: white;
}

ul{
    list-style-type: none;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}
